<nav class="fixed-top navbar navbar-expand-lg navbar-light  bg-nav">
  <a class="navbar-brand nav-text" href="#">ESPN SCRAPER</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active nav-text" href="#top">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link nav-text" href="/saved">Saved</a>
      <a class="nav-item nav-link nav-text" href="/populated">JSON for Articles w/ notes</a>
      <button id="scrape" type="button" class="pull-right btn btn-primary btn-sm">Scrape</button>
      
      
    </div>
  </div>
</nav>
  <div class = "container-fluid">
      <div class ="jumbotron jmb-custom">
          <img id="top" class="espn-logo" src = "./assets/img/ESPN-Logo.png"></img>
          <h2 class = "espn-txt">Scrapper </h2>
  </div>
  <div class = "row">    
  {{#each headlines }}
  <div class="col-md-3">
  <div class="cstm-card card fball-card">
  <h5 class="card-header espn-header">{{title}}   </h5>
  <div class="card-body espn-body">
     <img class="img-responsive ml-auto fball-img" src = "{{img}}"></img>
    <p class="card-text"> {{body}}</p>
    <a href="{{link}}" class="btn btn-danger">Read the full Story at ESPN</a> <button id="savebtn" data-articleId="{{_id}}" type="button" class="savebutton pull-right btn btn-primary">Save Article</button>
  </div>
  </div>
</div>

 
 

  
{{/each}}
</div>
  </div>
  <script>
    scrape()
    saveArticle()
  </script>

